
/* justify-content: center;
 width: 800px;    */
 /* th{
 padding-top: 30px;
 }
 .date{
padding-left: 50px;
padding-right: 200px;
 }
.description{
padding-left: 100px;
padding-right: 200px;
}
.category{
padding-left: 100px;
padding-right: 200px;
}
.amount{
padding-left: 80px;
} */