
/* justify-content: center;
 width: 800px;    */
 th{
 padding-top: 10px;
 }
 /* .date{
padding-left: 50px;
padding-right: 200px;
 }
.description{
padding-left: 100px;
padding-right: 200px;
}
.category{
padding-left: 100px;
padding-right: 200px;
}
.amount{
padding-left: 80px;
} */
table{
border-collapse: collapse; 
width: 100%;
}


th {
  border: 1px solid black;
}


td {
  border: 1px solid black; }